<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filipe Deschamps Newsletter for Web</title>
</head>
<body>
  <h1>News</h1>
  <% data.table1.forEach(newsItem => { %>
    <h2><%= newsItem.news_date %></h2>
    <!-- Verifica se há um assunto para a data da notícia -->
    <% const matchingSubject = data.table2.find(subjectItem => subjectItem.subject_date === newsItem.news_date); %>
    <% if (matchingSubject) { %>
      <h3>Assunto: <%= matchingSubject.subject_text %></h3>
    <% } %>
    <p><%= newsItem.news_text %></p>

    

  <% }); %>
</body>
</html>
